<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhãn</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
  <h2><b>Nhãn</b></h2>
  <p>Điền thông tin vào bên dưới để tìm kiếm nhãn mà bạn muốn</p> 
<form action="/admin/tag/search" method="GET"> 
<input name="timkiem" type="text" placeholder="Search.."/>
<button class="btn btn-dark" name="btnTimKiem">Tìm kiếm</button>
<br><br>
<a href="/admin/tag/add" class="btn btn-success" style="float: left;margin-bottom:5px;">Thêm Nhãn</a>
</form>
<table class="table table-bordred table-striped">
 <thead>
<th>Mã nhãn</th>
<th>Tên nhãn</th>
<th>Cập nhật</th>
<th>Xóa</th>
</thead>
<tbody>
    {{#each this.tag}}
    <form method="GET">
    <tr>
        <th><input name="TagID" value="{{TagID}}" type="hidden"></input>{{TagID}}</th>
        <th>{{TagName}}</th>
        <th><a href="/admin/tag/edit/{{TagID}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></th>
        <th><button formaction="/admin/tag/delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></th>
    </tr>
    </form>
    {{/each}}
</tbody>
</table>
<nav aria-label="..." style="float:right;margin-right:10px;">
  <ul class="pagination">
    {{#each this.page_number}}
    {{#if active}}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}} <span class="sr-only">(current)</span></a>
    </li>
    {{else}}
    <li class="page-item " aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}}</a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
</body>
</html>