<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh mục</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
  <h2><b>Danh mục</b></h2>
  <p>Điền thông tin vào bên dưới để tìm kiếm danh mục mà bạn muốn</p> 
<form  method="GET"> 
<input name="timkiem" type="text" placeholder="Search.."/>
<button class="btn btn-dark" name="btnTimKiem" formaction="/admin/category/search">Tìm kiếm</button>
</form>
<br><br>
<a href="/admin/category/add" class="btn btn-success" style="float: left;margin-bottom:5px;">Thêm Danh Mục</a>
<table class="table table-bordred table-striped">
 <thead>
<th>Mã danh mục</th>
<th>Tên danh mục</th>
<th>Trạng thái</th>
<th>Chi tiết</th>
<th>Cập nhật</th>
<th>Xóa</th>
</thead>
<tbody>
    {{#each this.category}}
    <form  method="GET">
    <tr >
        <th><input type="hidden" name="CatID" value="{{CatID}}"/>{{CatID}}</th>
        <th>{{CatName}}</th>
        <th>{{#ifeq CatIsActive 1}} Hoạt động  {{/ifeq}}
        {{#ifeq CatIsActive 0}} Không hoạt động  {{/ifeq}} </th>
        <th><a href="/admin/category/detail/{{CatID}}?CatName={{CatName}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-info-sign"></span></a></th>
        <th><a href="/admin/category/edit/{{CatID}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></th>
        <td><button formaction="/admin/category/delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></p></th>
   </tr>
    </form>
    {{/each}}
</tbody>
</table>
<nav aria-label="..." style="float:right;margin-right:10px;">
  <ul class="pagination">
    {{#each this.page_number}}
    {{#if active}}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}} <span class="sr-only">(current)</span></a>
    </li>
    {{else}}
    <li class="page-item " aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}}</a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
</body>
</html>