<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh mục</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
<body>
  <h2><b>Danh mục</b></h2>
  <p>Điền thông tin vào bên dưới để tìm kiếm danh mục mà bạn muốn</p> 
  <form action="" method="POST"> 
<input name="timkiem" type="text" placeholder="Search.."/>
<button class="btn btn-dark" name="btnTimKiem">Tìm kiếm</button>
<br><br>
<a href="/admin/category/add" class="btn btn-success" style="float: left;margin-bottom:5px;">Thêm Danh Mục</a>
</form>
<table class="table table-bordred table-striped">
 <thead>
<th>Mã danh mục</th>
<th>Tên danh mục</th>
<th>Trạng thái</th>
<th>Chi tiết</th>
<th>Cập nhật</th>
<th>Xóa</th>
</thead>
<tbody></tbody>
    {{#each this.category}}
    <tr style="height:20px">
        <th id="CatID">{{CatID}}</th>
        <th>{{CatName}}</td>
        <th>{{CatIsActive}}</th>
        <th><a href="/admin/category/detail/{{CatID}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa fa-info-circle"></i></a>
        <th><a href="/admin/category/edit/{{CatID}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa fa-edit"></i></a>
        <th><a href="/admin/category/delete/{{CatID}}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true"><i class="fa fa-trash"></i></a>
    </tr>
    {{/each}}
</tbody>
</table>
</form>
<nav aria-label="..." style="float:right;margin-right:10px;">
  <ul class="pagination">
    {{#each this.page_number}}
    {{#if active}}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}} <span class="sr-only">(current)</span></a>
    </li>
    {{else}}
    <li class="page-item " aria-current="page">
      <a class="page-link" href="?page={{value}}">{{value}}</a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
</body>
</html>