{{#with article}}
<div id="article-zone">
    <a class="subcatname" href="#">{{SubCatName}}</a>
    <h1 class="article-title">{{ArtTitle}}</h1>
    <ul class="article-meta">
        <li class="article-writer"><a href="#">{{Pseudonym}}</a></li>
        <li class="article-publish">đăng lúc {{ArtPostedOn}}</li>
    </ul>

    <div id="article-content-zone">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <h3 class="article-summary">{{Summary}}</h3>
                <div class="article-content">{{{Content}}}</div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="row article-suggestion" data-spy="affix" data-offset-top="197">
                    <div class="col-lg-12">
                        <p class="title-meta"><i class="fa fa-caret-right" aria-hidden="true"></i> ĐỌC THÊM</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-12">
                        <a href="#">
                            <img src="/img/mostviewed-news/1.jpg" class="w-100" title="Trào lưu chụp ảnh khỏa thân của giới trẻ Australia khi đi du lịch">
                        </a>
                        <div class="article-suggestion-info">
                            <a href="#" class="article-title">11 kỳ quan thiên nhiên kỳ lạ, thách thức trí tưởng tượng của du khách</a>
                            <p class="article-date">18:01 26/04/2019</p>
                            <p class="article-summary">Những kỳ quan kỳ lạ được hình thành hoàn toàn tự nhiên như một bằng chứng của sự sáng tạo không giới hạn mà thiên nhiên có thể tạo ra.</p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <p class="title-meta meta-2"><i class="fa fa-star" aria-hidden="true"></i> ĐỪNG BỎ LỠ</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-12">
                        <a href="#">
                            <img src="/img/mostviewed-news/1.jpg" class="w-100" title="Trào lưu chụp ảnh khỏa thân của giới trẻ Australia khi đi du lịch">
                        </a>
                        <div class="article-suggestion-info">
                            <a href="#" class="article-title">11 kỳ quan thiên nhiên kỳ lạ, thách thức trí tưởng tượng của du khách</a>
                            <p class="article-date">18:01 26/04/2019</p>
                            <p class="article-summary">Những kỳ quan kỳ lạ được hình thành hoàn toàn tự nhiên như một bằng chứng của sự sáng tạo không giới hạn mà thiên nhiên có thể tạo ra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/with}}