<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styleEdit.css">
  <link rel="stylesheet" href="/css/infoW_E.css">
  <meta name="description"
    content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
  <title>Newsweek</title>
  <link rel="icon" href="/img/newsweek-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>

  {{{_sections.css}}}
  <script>
    $(function ($) {

      $(".sidebar-dropdown > a").click(function () {
        $(".sidebar-submenu").slideUp(200);
        if (
          $(this)
            .parent()
            .hasClass("active")
        ) {
          $(".sidebar-dropdown").removeClass("active");
          $(this)
            .parent()
            .removeClass("active");
        } else {
          $(".sidebar-dropdown").removeClass("active");
          $(this)
            .next(".sidebar-submenu")
            .slideDown(200);
          $(this)
            .parent()
            .addClass("active");
        }
      });

      $("#close-sidebar").click(function () {
        $(".page-wrapper").removeClass("toggled");
      });
      $("#show-sidebar").click(function () {
        $(".page-wrapper").addClass("toggled");
      });
    });
  </script>

</head>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a class="content-menu" href="/">
            <i class="fa fa-home" aria-hidden="true"></i> TRANG CHỦ
          </a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <div class="navbar-nav ml-auto nav-flex-icons">
              {{#with user}}
              <div class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{#if Avatar}}
                  <img class="user-pic" src="{{Avatar}}">
                  {{else}}
                  <img class="rounded-circle z-depth-0 " src="/img/user/default-avatar.jpg">
                  {{/if}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-5">
                  <a class="dropdown-item" href="/user/info">
                    <i class="fa fa-user" aria-hidden="true"> Thông tin cá nhân</i>
                  </a>
                  <form id="logout-form" action="/account/logout" method="POST"></form>
                  <a class="dropdown-item" href="javascript: $('#logout-form').submit();">
                    <i class="fa fa-sign-out" aria-hidden="true"> Đăng xuất</i>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="user-info">
            <span class="user-name">

              <strong id="user-name">{{FullName}}</strong>
              {{/with}}
            </span>
            <span class="user-role">{{user.RoleName}}</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Đang hoạt động</span>
            </span>
          </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            {{#with user}}
            {{#ifeq RoleID 2}}
            <li class="sidebar-dropdown">
              <a href="/writer/add">
                {{!-- <i class="fa fa-tachometer-alt"></i> --}}
                <i class="fas fa-edit"></i>
                <span>Viết bài</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fas fa-newspaper "></i>
                <span>Danh sách bài viết</span>

              </a>
              <div class="sidebar-submenu">
                <ul>
                  {{#each ../../lcStatus}}
                  <li>
                    <a href="/writer/articlesByStatus/{{StatusID}}">{{StatusName}}
                      {{#if num_of_art}}
                      <span class="badge badge-pill badge-danger float-right">{{num_of_art}}</span>
                      {{/if}}
                    </a>
                  </li>

                  {{/each}}
                </ul>
              </div>
            </li>
            {{/ifeq}}
            {{#ifeq RoleID 3}}
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fas fa-newspaper "></i>
                <span>Chuyên mục quản lý</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                      <li>
                        <a href="/editor/articles">Tat ca
                          <span class="badge badge-pill badge-danger float-right">{{../../totalAll}}</span>
                        </a>
                      </li>
                  {{#each ../../CatOfEditor}}
                    
                      <li>
                        <a href="/editor/articlesByCat/{{CatID}}">{{CatName}}
                        {{#each ../../../artOfEditor}}
                        {{#ifeq ../CatID CatID}}
                          {{#if ../num_of_arts}}
                          <span class="badge badge-pill badge-danger float-right">{{../num_of_arts}}</span>
                          {{/if}}
                        {{/ifeq}}
                        {{/each}}
                        </a>
                      </li>
                      
                  {{/each}}
                </ul>
              </div>
            </li>
            {{/ifeq}}
            {{/with}}
          </ul>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <d class="page-content">
      
      {{{body}}}

    </d>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {{{_sections.js}}}

</body>

</html>