{{!-- <div class="card shadow mb-4 h-100" >
    <h5 class="card-header">ARTICLES</h5> --}}
<div class="table-responsive ">
    <div class="card shadow mb-4 h-100" >
    <h5 class="card-header">ARTICLES</h5>
  <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ArtID</th>
                <th scope="col">ArtTitle</th>
                <th scope="col">Summary</th>
                <th scope="col">ArtCreatedOn</th>
                <th scope="col">ArtPostedOn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each this.articles}}
                <tr>
                    <th scope="row">{{ArtID}}</th>
                    <td>{{ArtTitle}}</td>
                    <td>{{Summary}}</td>
                    <td>{{ArtCreatedOn}}</td>
                    <td>{{ArtPostedOn}}</td>
                    
                    <td class="text-right">
                        {{#ifeq StatusID 1}}
                        <a  class="btn btn-primary btn-sm" href="/writer/edit/{{../ArtID}}" role="button" title="Edit">
                            More detail
                        </a>
                        {{/ifeq}}
                        {{!-- <a  class="btn btn-danger btn-sm" href="/categories/delete/{{ArtID}}" role="button" title="Delete">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a> --}}
                        
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>
{{!-- </div> --}}