<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ĐỘC GIẢ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form name="frmAddSubscriber" action="/admin/user/update/subscriber/{{this.subscriber.SubscriberID}}"  method="POST" style="width:400px;margin:0 auto;margin-top:20px;">
  <div>
  <h5>THÔNG TIN</h5>
  <div>
   <input class="form-control" type="hidden" name="SubscriberID" value="{{this.subscriber.SubscriberID}}">
  </div>
  <div>
    <label>Họ Tên</label>
    <input class="form-control" placeholder="Enter name" type="text" name="FullName" value="{{this.subscriber.FullName}}" disabled>
  </div>
  <div>
    <label >Ngày Sinh</label>
    <input  class="form-control" name="DOB" value="{{this.subscriber.DOB}}" disabled>
 </div>
  <hr></hr>
  <h5>TÀI KHOẢN</h5>
  <div>
    <label>Ngày Đăng Kí</label>
    <input class="form-control"  name="BoughtOn" value="{{this.subscriber.BoughtOn}}" disabled></input>
  </div>
  <div>
    <label>Ngày Gia Hạn</label>
    <input class="form-control"  name="ExpriedOn" value="{{this.subscriber.ExpiredOn}}" disabled></input>
  </div>
  <a href="/admin/user/update/subscriber/{{this.subscriber.SubscriberID}}" class="btn btn-primary" style="width:100%;margin-top:20px;background:#3380CB;">GIA HẠN TÀI KHOẢN</a>
</form> 
<div class="form-group">
    <a href="/admin/account/edit/{{this.subscriber.AccID}}?UserID={{this.subscriber.SubscriberID}}&UserName=Subscriber" style="width:100%">TÌNH TRẠNG TÀI KHOẢN</a>
</div>
</div>
</body>
</html>