{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $(() => {
        $.validator.addMethod('onlyletters', (value, element) => {
            return !(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(value));
        });

        $('#edit-info-form').validate({
            rules: {
                Fullname: {
                    required: true,
                    onlyletters: true
                }
            },
            messages: {
                Fullname: {
                    required: 'Vui lòng nhập tên hiển thị.',
                    onlyletters: 'Tên hiển thị không chứa kí tự đặc biệt.'
                }
            },
            errorElement: 'p',
            errorClass: 'input-errors'
        });

        $('.input-form').focus(() => {
            $('.sub-error').hide();
        });
    });
</script>
{{/section}}

{{#with user}}
<div class="section-user section-user-edit-info">
    <div class="row">
        <h1 class="col-lg-12 main-title">Thay đổi thông tin</h1>
        <div class="col-lg-12 padding-0">
            <form action="/user/edit-info" id="edit-info-form" method="POST">
                <label class="label-form">Tên hiển thị:</label>
                {{#ifeq RoleID 1}}
                <input class="input-form" name="Fullname" type="text" placeholder="Tên hiển thị" value="{{../SubscriberName}}">
                {{/ifeq}}
                {{#ifeq RoleID 2}}
                <input class="input-form" name="Fullname" type="text" placeholder="Tên hiển thị" value="{{../WriterName}}">
                {{/ifeq}}
                {{#ifeq RoleID 3}}
                <input class="input-form" name="Fullname" type="text" placeholder="Tên hiển thị" value="{{../EditorName}}">
                {{/ifeq}}
                <label class="label-form">Ngày sinh:</label>
                <br>
                <select name="Day" class="select-form">
                    <option disabled selected>Ngày</option>
                    {{#each ../day}}
                    <option value="{{value}}" {{#ifeq value ../../dobDay}}selected{{/ifeq}}>{{value}}</option>
                    {{/each}}
                </select>
                <select name="Month" class="select-form">
                    <option disabled selected>Tháng</option>
                    {{#each ../month}}
                    <option value="{{value}}" {{#ifeq value ../../dobMonth}}selected{{/ifeq}}>{{value}}</option>
                    {{/each}}
                </select>
                <select name="Year" class="select-form">
                    <option disabled selected>Năm</option>
                    {{#each ../year}}
                    <option value="{{value}}" {{#ifeq value ../../dobYear}}selected{{/ifeq}}>{{value}}</option>
                    {{/each}}
                </select>
                {{#if ../subError}}<p class="sub-error">Ngày sinh không hợp lệ.</p>{{/if}}
                <button class="button-form">Xác nhận thay đổi</button>
            </form>
        </div>
    </div>
</div>
{{/with}}