<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh mục</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
</head>
<body>
  <h2><b>Danh mục</b></h2>
  <p>Vui lòng chọn danh mục nếu bạn muốn phân công</p> 
  <form method="POST" action="/admin/user/editor/category/update">
  <input name="EditorID" value="{{this.EditorID}}" type="hidden"></input>
  <div style="float:left;">
    <select name="CatID" class="browser-default custom-select" class="browser-default custom-select">
    <option>Chọn danh muc </option>
    </option>
     {{#each category}}
      <option {{#if active }} selected {{/if}} value="{{CatID}}">{{CatName}}</option>
     {{/each}}
    </select>
    </div>
    <button class="btn btn-dark" name="TKTDanhMuc" style="margin-left:5px;">Phân công</button>
  </div>
<br><br>
</form>
<table class="table table-bordred table-striped">
 <thead>
<th>Mã danh mục</th>
<th>Tên danh mục</th>
<th>Chi tiết</th>
<th>Xóa</th>
</thead>
<tbody></tbody>
    {{#each this.categoryEditor}}
    <form method="POST">
    <tr style="height:20px">
        <input type="hidden" name="EditorID" value="{{../EditorID}}"></input>
        <th><input type="hidden" name="CatID" value="{{this.CatID}}"/>{{CatID}}</th>
        <th>{{CatName}}</td>
        <th><a href="/admin/category/detail/{{CatID}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa fa-info-circle"></i></a>
        <th><button formaction="/admin/user/editor/category/delete" class="btn btn-danger btn-lg active"><i class="fa fa-trash"></i></a>
    </tr>
    </form>
    {{/each}}
</tbody>
</table>
</form>
</body>
</html>