<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tài khoản</title>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> <script src="/js/User.Check.js"></script>
</head>
  <body>
  <h2><b>Người dùng</b></h2>
  <p>Điền thông tin vào bên dưới hoặc lựa chọn loại người dùng để tìm kiếm người dùng mà bạn muốn</p> 
<form method="GET" name="frmNguoiDung"> 
<input name="timkiem" type="text" placeholder="Search.." style="margin-left:5px;"/>
<button class="btn btn-dark" name="TKTTU" formaction="/admin/user/search">Tìm kiếm</button>
<br><br>
<div style="margin-bottom:50px;margin-left:5px;"> 
 <div style="float:left;">
    <div style="float:left;width:175px;">
    <select name="TypeAccount" class="form-control">
    <option>Người dùng</option>
     {{#each role}}
      <option  value="{{RoleID}}">{{RoleName}}</option>
     {{/each}}
    </select>
    </div>
    <button class="btn btn-info" style="margin-left:5px;width:95px;" formaction="/admin/user/add" name="TTK" onclick="return CheckValueRole();">Thêm</button>
  </div>
 <div style="float:right;">
    <div style="float:left;">
    <select name="RoleID" class="form-control">
    <option>Người dùng</option>
    <option>All</option>
     {{#each lcRole}}
      <option  {{#if active }} selected {{/if}} value="{{RoleID}}">{{RoleName}}</option>
     {{/each}}
    </select>
    </div>
    <button class="btn btn-dark" name="TKTRole" style="margin-left:5px;" formaction="/admin/user/role" onclick="return CheckValueRoles();">Danh sách</button>
  </div>
</div>
</form>
<table class="table table-bordred table-striped">
<thead>
<th>Họ tên</th>
<th>Chi tiết</th>
<th>Xóa</th>
</thead>
<tbody></tbody>
    {{#each this.subscriber}}
    <form method="GET">
    <tr style="height:20px">
        <input type="hidden"  name="SubscriberID" value={{SubscriberID}}></input>
        <th>{{FullName}}</th>
        <th><a href="/admin/user/detail/subscriber/{{SubscriberID}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></th>
        <th><button formaction="/admin/user/delete/subscriber" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></th>
    </tr>
    </form>

    {{/each}}
     {{#each this.editor}}

     <form method="GET">
    <tr style="height:20px">
        <input type="hidden"  name="EditorID" value={{EditorID}}></input>
        <th>{{FullName}}</th>
        <th><a href="/admin/user/detail/editor/{{EditorID}}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></th>
        <th><button formaction="/admin/user/delete/editor" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></th>
   </tr>
    </form>
    {{/each}}

     {{#each this.writer}}
     <form method="GET">
    <tr style="height:20px">
        <input type="hidden"  name="WriterID" value={{WriterID}}></input>
        <th>{{FullName}}</th>
        <th><a href="/admin/user/detail/writer/{{WriterID}}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></th>
        <th><button formaction="/admin/user/delete/writer" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></th>
    </tr>
    </form>
    {{/each}}
</tbody>
</table>
</body>
</html>