<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Duyệt bài viết</title>
    <link rel="stylesheet" href="/css/infoW_E.css">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- Datetime picker --}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
      <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css"> 
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    
    </head>
</head>
<body>
    <div class="container emp-profile">
        <div class="content">
        {{#each article}}
            {{!-- <form method="post"> --}}
            <header class="the-article-header">
                <a class="btn btn-light" onclick="goBack()" role="button">Quay về trang trước</a>
                <p class="the-article-category">{{CatName}}</p>
                <h3 class="the-article-title">{{ArtTitle}}</h3>
                <ul class="the-article-meta">
                    <li class="the-article-author">{{FullName}} </li>
                    <li class="the-article-create ml-3">{{formatDatefromDB ArtCreatedOn}}</li>
                </ul>
            </header>
            <section class="main">
                <p class="the-article-summary">{{Summary}}</p>
                <div class="the-article-body">
                    <div class="table-responsive table-img">
                        <table class=" picture mb-3">
                        <tbody>
                            <tr>
                                <img src="{{ArtAvatar}}">
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    
                    
                    <div class="the-article-content">
                        {{{Content}}}
                    </div>
            </div>
            </section>
            {{!-- </form>    --}}
        {{/each}} 
        <hr>
        <label class="the-article-create ml-3" style="color: #888">Thông tin bài viết</label>
        <form action="" method="POST">
            <div class="form-group row">
                <label for="CatID" class="col-sm-2 col-form-label">Chuyên mục con:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="SubCatID">
                    {{#each subCat}}
                        <option value={{SubCatID}}>{{SubCatName}}</option>
                    {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Xếp hạng bài viết</label>
                <div class="col-sm-10">
                    {{#each this.lcRank}}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="RankID" id="RankID" value={{RankID}} checked >
                            <label class="form-check-label" for="RankID">{{RankName}}</label>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="form-group row">
                <label for="tag" class="col-sm-2 col-form-label">Nhãn bài</label>
                <div class="col-sm-10">
                    <textarea class="form-control font-weight-bold" id="TagName" name="TagName">
                        {{#each artTags}}{{TagName}}, {{/each}}
                    </textarea>    
                </div>
            </div>
            <div class="form-group row">
                <label for="tag" class="col-sm-2 col-form-label">Ngày đăng:</label>
                <div class="col-sm-10">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" id="ArtPostedOn" name="ArtPostedOn" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            {{#with user}}
                <input value={{EditorID}} name="EditorID" hidden >
            {{/with}}
            <div class="form-group row">
                <button type="submit" style="font-weight: bold; font-size:1.5em;" class="btn btn-success bt-sm float-right w-100" >DUYỆT BÀI VIẾT</button>
            </div>
        </form>   
        </div>   
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format : "DD/MM/YYYY HH:mm"
                });
            });
    </script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

