<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bài viết</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="/css/articledetails.css">
</head>
<body>
<div id="fatherelement">
  <p id="SubCatName">{{this.subcategories.SubCatName}}</p>
  <p id="ArtTitle">{{this.article.ArtTitle}}</p>
  <p id="ArtPostOn"><b id="EditorName">{{this.editor.FullName}}</b> đăng lúc {{ formatDateTime this.article.ArtPostedOn}}</p>
  <div id="Summary">  {{this.article.Summary}}</div>
  <img id="ArtAvatar" src="{{this.article.ArtAvatar}}"></img>
  <div id="Content">{{{this.article.Content}}}</div>
  <p id="WriterArt">Bài báo được viết bởi phóng viên <b id="WriterName">{{this.writer.FullName}}</b> 
  vào lúc {{formatDateTime this.article.ArtCreatedOn}} và {{this.status.StatusName}}</p>
  <p id="RankViews">Xếp hạng: <b id="RankName">{{this.rank.RankName}}</b> Số lượt xem: <b id="Views">{{this.article.Views}}</b></p>
</div>
</body>